@use 'sass:map';
@import '../../index';

// //////////////////////////
//       описание
// //////////////////////////
// 
// 
// 
// //////////////////////////



// //////////////////////////
// размер
// //////////////////////////



// //////////////////////////
// цвета
// //////////////////////////

$valinput-color-valid: $input-success-color;
$valinput-color-error: $input-error-color;
// чтобы скрыть validation полоску. Хз как отнаследоваться от нужного класса
// $valinput-color-netral: transparent;
$valinput-color-netral: $theme-plate-bkgd;



// //////////////////////////
// скорость анимации
// //////////////////////////


